.containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 60vh;
    width: 45vh;
    overflow: hidden;
    border: 10px outset #ab8a26;
    border-radius: 5px;
}
.infoList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#beerImg {
    height: 300px;
    margin: 10px;
}